/*  your css code here. If applicable */
#container{
	margin:20px;
}
#container::before{
	content:"Before Element";
	color:red;
	font-size:20px;
	left:-10px;
}
#container::after{
	content:"After Element";
	color:red;
	font-size:20px;
	right:10px;
}
